<footer>

    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                    <h2>Team Wanderlust</h2>
                <div class="col-lg-10 col-lg-offset-1">
                     <div class="row">
                        <div class="team-photo">
                        <div class="col-md-2 col-sm-4">
                            <div class="mattcho">
                               </div>
                                <h4>Matt Cho</h4>
                        </div>
                        <div class="col-md-2 col-sm-4">
                           <div class="minmcknight">
                            </div>
                                <h4>Min McKnight</h4>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="andyleonard">                   
                        </div>
                                <h4>Andy Leonard</h4>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="kurtweber">
                            </div>
                                <h4>Kurt Weber</h4>
                        </div>
                        <div class="col-md-2 col-sm-5">
                            <div class="westonbeard">   
                            </div>
                                <h4>Weston Beard</h4>
                        </div>
                        </div>
                    </div>
                    
    </footer>