/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: #D2D3D6;
  margin:0;
  padding: 0;
}

h3 a{
   text-decoration: none;
   font-size: 3em;
}
.container-fluid{
  margin:0;
  padding: 0;
}

.panel-footer{
 background-color: #9d9d9d;
 color: #666;
}

.logo{
  font-size: 2em;
  line-height: 2em;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.navbar-form{

} 