// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trail-pic img{
  border-radius: 8px;
  margin-bottom: 0.5em;
}
div.trail-pic {
  margin-bottom: 2em;
}

.caption{
  font-size: 2em;
}

.caption:hover{
  text-decoration: none;
  background-color: inherit;
}

