// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title a{
  font-size: 1.5em;
}

#title a:hover{
  text-decoration: none;
  background-color: inherit;
}

#subtitle{
  color: #9d9d9d;
}